<div>
  <ul id="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/stylists">Stylists List</a></li>
    <li><a href="/clients">Clients List</a></li>
    <li><a href="/specialties">Specialties List</a></li>
  </ul>
</div>
