<h1>Add Stylist</h1>

<form action="/stylists" method="post">
  <div class="">
    <label for="stylistName">Stylist Name:</label>
    <input type="text" name="stylistName" required>
  </div>
  <div class="">
    <label for="description">Description:</label>
    <input type="text" name="description">
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/stylists">List of Stylists</a></h3>
<h3><a href="/stylists/search">Find a Stylist</a></h3>
<h3><a href="/clients">List of Clients</a></h3>
<h3><a href="/clients/new">Add new Client</a></h3>
