@using HairSalon.Models
@{
  Layout = "_Layout";
}

<h1>List of Stylists</h1>
<ul>
  @foreach(var stylist in Model)
  {
    <form class="" action="/stylists/delete" method="post">
      <input type="number" name="stylistId" value="@stylist.GetId()" hidden>
      <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a><button type="submit" name="button" class="btn">Delete</button></li>
        <ul>
          <li>Description: @stylist.GetDescription()</li>
        </ul>
    </form>
  }
</ul>
