<h1>Add Specialty</h1>

<form action="/specialties" method="post">
  <div class="">
    <label for="addSpecialties">Specialty:</label>
    <input type="text" name="addSpecialties" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/">Home</a></h3>
