@{
  Layout = "_Layout";
}

<h1>@Model.GetSpecialties() Type Stylists List</h1>

<ul>
  @foreach (var stylist in Model.GetStylists())
  {
    <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></li>
  }
</ul>
