@{
  Layout = "_Layout";
}

<h1>Specialties List</h1>

<ul>
  <li>@Model.GetSpecialties()</li>
  @foreach(var stylist in Model.GetStylists())
  {
    <ul>
      <li>@stylist.GetName</li>
    </ul>
  }
</ul>
