body {
  /* font-family: 'Lobster', cursive; */
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 1.75em;
  background:
  linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
    ),
  url("/img/salon.jpg") no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-size: 4em;
  text-align: center;
}

#navbar {
  text-align: left;
  list-style-type: none;
  position: fixed;
  bottom: 1%;
  right: 1%;
}

#navbar li {
  background-color: black;
  opacity: 0.7;
  padding: 10px;
  display: inline-block;
}

a {
  color: black;
}

#navbar a {
  color: white;
}

#navbar :hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

div {
  margin: 2%;
}

.edit {
  font-size: 0.7em;
  color: black;
}

.button {

}

.delete-button {
  float: right;
}

.no-bullet {
  list-style-type: none;
}
