<h1>Hair Salon Homepage</h1>

<h3><a href="/">Home</a></h3>
<h3><a href="/stylists">Stylists List</a></h3>
<br>
<h3><a href="/stylists/new">Add Stylist</a></h3>
<h3><a href="/stylists/search">Find Stylist(For Future)</a></h3>
<br>
<h3><a href="/clients">Clients List</a></h3>
<h3><a href="/clients/new">Add Client(For Future)</a></h3>
<br>
<h3><a href="/specialties">Specialties List</a></h3>
<h3><a href="/specialties/new">Add Specialties(For Future)</a></h3>
