<h1>Add Client</h1>

<form action="/clients" method="post">
  <div class="">
  <div class="">
    <label for="clientName">Client Name:</label>
    <input type="text" name="clientName" required>
  </div>
    <label for="stylistName">Stylist Name:</label>
    <input type="text" name="stylistName" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/stylists">List of Stylists</a></h3>
<h3><a href="/stylists/search">Find a Stylist</a></h3>
<h3><a href="/stylists/new">Add new Stylist</a></h3>
<h3><a href="/clients">List of Clients</a></h3>
