@using HairSalon.Models
@{
  Layout = "_Layout";
}

<h1>@Model.GetName()'s Information</h1>

<form action="/clients/@Model.GetId()/EditName" method="post">
  <label for="clientName">Change name:</label>
  <input type="text" name="clientName" required>
  <button type="submit">Edit Name</button>
</form>
<form action="/clients/@Model.GetId()/EditStylist" method="post">
  <label>Change stylist:</label>
  <select name="stylistId">
    @foreach (var stylist in Stylist.GetAll())
      {
        <option value="@stylist.GetId()">@stylist.GetName()</option>
      }
  </select>
  <button type="submit">Edit Stylist</button>
</form>
